.toggle-button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(125, 222, 190);
    border: 1px solid gray;
}

.text {
    display: none;
    margin-top: 10px;
    border: 2px solid gray;
    background-color: rgb(243, 182, 159);
    padding: 20px;
    max-width: 50%;
}



.accordion-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.icon {
    float: right;
}